.bottomNav {
  position: fixed;
   left: 0;
   bottom: -1px;
   width: 100%;
   background-color: #a0c49d;
   color: white;
   text-align: center;
   display: grid;
   grid-template-columns: auto auto auto auto;
   height: 60px;}

.bottomNav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.bottomNav a:hover {
 background: #f1f1f1;
 color: black;
}

.bottomNav a.active {
 background-color: #04AA6D;
 color: white;
}
.icons{
    width: 40px
 }