@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.container {
    max-width: 600px;
    margin: auto;
    font-size: 20px;
  }
  .content {
    padding: 10px;
    cursor: pointer;
    position: relative;
  }

  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 5px;
  }

  .info-text {
    font-family: 'Montserrat', sans-serif;
  }
  
  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: #333 transparent transparent;
    cursor: pointer;
  }
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
  }
  .dropdown-content.active {
    max-height: 200px;
  }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 hr.solid {
  border-top: 2px solid #bbb;
  margin: 25px;
  background-color: black;
}

.text-divider {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.text-divider::before, .text-divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  margin: 5px;
  background-color: black;
}

.topImg{
    max-width: 450px;
    max-height: 400px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.botImg{
    max-width: 450px;
    max-height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.main {
 padding: 16px;
 margin-bottom: 30px;
}
.imgbroodje{
 width: 100%;
}

.logo{
  position: relative;
  top: 120px
}
.form{
  position: relative;
  top: 120px
}
.padaanpas{
  padding: 0px;
  justify-content: start;
}
.reset:hover{
  color: red;
}
.inputveld{
  background-color: #F1F2F2;
  color: black;
  border-radius: 23px;
}
.loginbutton{
  background-color: #EB5258;
  border-radius: 23px;
}
.back{
  border-style: none;
}
.Pagetitle{
  width: 100%;
  top: 10px;
text-align: center;
}

.filtermenu{
  width: 100%;
text-align: center;

}
.populairtitle{
  width: 100%;

text-align: center;

}
.populair{
  padding: 1%;
  width: 53%;
  overflow: hidden;
  display: flex;
  margin-bottom: 60px;
}
.popI1{
  padding: 5px;
    background-color: #EB5258;
    border: #EB5258;
    border-style: solid;
    color: white;
    border-radius: 25px;
    width: 100%;
    position: relative;
    align-content: center;
    max-width: 400px;
    z-index: 2;
}
.popI2{
  right: 3%;
    margin-top: 15%;
    padding: 5px;
    background-color: #a0c49d;
    border: #a0c49d;
    border-style: solid;
    border-radius: 25px;
    width: 45%;
    position: absolute;
    align-content: center;
    max-width: 400px;
    z-index: 1;
}

.imgbroodjeP1{
  position: relative;
  width: 50%;
  max-height: 500px;
  padding-left: 25%;
  align-content: center;
  justify-content: center;

}
.line {
  width: 90%; /* Set the line width to 90% of the page width */
  height: 1px; /* Set the line thickness to 5px */
  background-color: gray; /* Set the line color (black in this example) */
  margin: 0 auto;
}
.line2 {
  width: 100%; /* Set the line width to 90% of the page width */
  height: 1px; /* Set the line thickness to 5px */
  background-color: #808080; /* Set the line color (black in this example) */
  margin: 10px auto;
}

.left-line{
  width: 35%;
  position: relative;
  align-self: center;
}
.right-line{
  width: 35%;
  position: relative;
  align-self: center;
}
.titletext2{
  position: relative;
  width: 20%;
  text-align: center;
  
  top: 60%;
}
.tussenkop{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
}
.productcontainer{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  align-content: center;
  margin: 0% 5%;
}
.veganon{
  display: block;
  width: 20px;
  height: 20px;

}
.veganoff{
  display: none;
}
.winkelwagenknop{
  border: #EB5258;
  background-color: #EB5258;
  border-radius: 20px;
  color: white;
  width: 50px;
  height: 30px;
  align-content: center;
  float: right;
}
.winkelwagenimg{
  width:20px;
  align-self: center;

}
.waveMaxTop{
    float: right;

}
.waveMaxBot{
    float: 	left;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
  width: 40%;
}

.grid-item img {
  max-width: 90%;
  max-height: 10%;
  border-radius: 10px;
}

.grid-item h4 {
  float: left;
  font-size: 10px;
}

.red {
  color: white;
  background-color: #f0545c;
}

.green {
  color: black;
  background-color: #a0c49d;
  margin-top: 40px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  #inner-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
  }
  #inner-grid > div {
    background: lightgreen;
    padding: 8px;
  }

  .item1 { grid-area: foto; }
  .item2 { grid-area: titel; }
  .item3 { grid-area: descriptie; }
  .item4 { grid-area: prijs; }
  .item5 { grid-area: buy; }
  
  .brood-lijst {
    display: grid;
    grid-template-areas:
      'foto titel titel titel prijs prijs'
      'foto descriptie- descriptie descriptie descriptie buy';
    gap: 10px;
    background-color: #2195f300;
    padding: 10px;
  }

  .image2 {
    width: 150px;
    border-radius: 20px;
  }

  .brood-lijst button {
    border-radius: 10px;
    background-color: #f0545c;
    width: 30%;
    height: 50%;
  }
  
  .brood-lijst > div {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
  }
  .product-info{
    width: 40%;
}
.buttonplace{
  width: 25%;
  height: 60px;
  margin-top: 20px;
}

.buttonplace2{
  width: 20%;
  height: 60px;
  margin-top: 20px;
}

.prijs{
  float: right;
  margin-top: 20px;
}

.beschrijving {
  font-size: 10px;
  font-weight: 100;
  margin: 0px;
}
.producttitle {
  margin: 10px 0 0 0
}
.containerbroodje{
  width: 35%;
  height: 110%;
}
.containerbroodjeP{
  width: 100%;
}
.product-infoP{
  width: 65%;
}
.buttonplaceP{
  width: 25%;
  margin-top: 20px;
}
.winkelwagenknopG{
  border:#a0c49d;
  background-color: #a0c49d;
  border-radius: 20px;
  color: white;
  width: 50px;
  height: 30px;
  align-content: center;
  float: right;
}
.popextra{
  display: flex;
  margin-left: 15px;
  justify-content: space-between;

}

.delete{
  margin: 0;
}