@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
  }
  .content {
    padding: 10px;
    cursor: pointer;
    position: relative;
  }

  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 5px;
  }

  .info-text {
    font-family: 'Montserrat', sans-serif;
  }
  
  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: #333 transparent transparent;
    cursor: pointer;
  }
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
  }
  .dropdown-content.active {
    max-height: 200px;
  }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bottomNav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a0c49d;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 50px;
}

.bottomNav img {
    display: block;
    margin: 0 auto;
    margin-top: 7px;
    max-width: 35px;
}

.bottomNav a:hover {
  background: #f1f1f1;
  color: black;
}

.bottomNav a.active {
  background-color: #04AA6D;
  color: white;
}

 hr.solid {
  border-top: 2px solid #bbb;
  margin: 25px;
  background-color: black;
}

.text-divider {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.text-divider::before, .text-divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  margin: 5px;
  background-color: black;
}

.topImg{
    max-width: 450px;
    max-height: 400px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.botImg{
    max-width: 450px;
    max-height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.waveMaxTop{
    float: right;

}
.waveMaxBot{
    float: 	left;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-item {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
  width: 40%;
}

.grid-item img {
  max-width: 90%;
  max-height: 10%;
  border-radius: 10px;
}

.grid-item h4 {
  float: left;
  font-size: 10px;
}

.red {
  color: white;
  background-color: #f0545c;
}

.green {
  color: black;
  background-color: #a0c49d;
  margin-top: 40px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  #inner-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 5px;
  }
  #inner-grid > div {
    background: lightgreen;
    padding: 8px;
  }

  .item1 { grid-area: foto; }
  .item2 { grid-area: titel; }
  .item3 { grid-area: descriptie; }
  .item4 { grid-area: prijs; }
  .item5 { grid-area: buy; }
  
  .brood-lijst {
    display: grid;
    grid-template-areas:
      'foto foto titel titel prijs prijs'
      'foto foto descriptie descriptie descriptie buy';
    gap: 10px;
    background-color: #2195f300;
    padding: 10px;
  }

  .image2 {
    width: 150px;
    border-radius: 20px;
  }

  .brood-lijst button {
    border-radius: 10px;
    background-color: #f0545c;
    width: 30%;
    height: 50%;
  }
  
  .brood-lijst > div {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
  }